/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Klee+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #e1f0cc;
  font-family: "Klee One";
  color: #010126;
  scroll-behavior: smooth;
}

header {
  background-image: url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 2px black;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.bg-weepping {
  background-color: #8ba49f;
}

.bg-pillow {
  background-color: #85707f;
}

.bg-drifting {
  background-color: #613463;
}

.bg-jasmine {
  background-color: #e1f0cc;
}

.bg-welcome {
  background-color: #010126;
}

.color-jasmine {
  color: #e1f0cc;
}

a {
  display: inline-block;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}

.grid-abil {
  display: -ms-grid;
  display: grid;
  gap: 1em;
  -ms-grid-columns: (minmax(8em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.abil {
  display: inline-block;
  text-align: center;
}

.abil img {
  max-width: 100px;
  max-height: 100px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  max-width: 25em;
  background-color: #ebf0e5;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 4px grey;
          box-shadow: 1px 1px 4px grey;
}

.card img,
.card video {
  width: 100%;
}

.card p,
.card h3,
.card a {
  padding: 1em;
}

.card a {
  float: right;
}

.up-hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.up-hover:hover {
  -webkit-transform: translateY(-0.5em);
          transform: translateY(-0.5em);
}

.p-1 {
  padding: 1em;
}

.p-2 {
  padding: 2em;
}

.p-3 {
  padding: 3em;
}

.p-4 {
  padding: 4em;
}

.p-5 {
  padding: 5em;
}

.mx-1 {
  margin-right: 1em;
}

.mx-2 {
  margin-right: 2em;
}

.mx-3 {
  margin-right: 3em;
}

.mx-4 {
  margin-right: 4em;
}

.mx-5 {
  margin-right: 5em;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mt-3 {
  margin-top: 3em;
}

.mt-4 {
  margin-top: 4em;
}

.mt-5 {
  margin-top: 5em;
}

.m-auto {
  margin: auto;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

#menu div > a {
  display: none;
}

#menu ul {
  margin: 0;
  padding: 1em;
  text-align: right;
}

#menu ul li {
  list-style: none;
  display: inline;
  margin-right: 1em;
  font-size: 1.2em;
}

#menu ul a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#menu ul a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu-visible {
  max-height: 500px !important;
}

@media (max-width: 768px) {
  .container {
    width: 95% !important;
  }
  #menu div > a {
    display: block !important;
    text-align: right;
  }
  #menu ul {
    -webkit-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    padding: 0;
  }
  #menu ul li {
    display: block !important;
    padding: 1em 0 1em 0;
    text-align: center;
  }
}
/*# sourceMappingURL=styles.css.map */