/* You can add global styles to this file, and also import other style files */

$weepping: #8ba49f;
$pillow: #85707f;
$drifting: #613463;
$jasmine: #e1f0cc;
$clear: #ebf0e5;
$welcome: #010126;
@import url("https://fonts.googleapis.com/css2?family=Klee+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: $jasmine;
  font-family: "Klee One";
  color: $welcome;
  scroll-behavior: smooth;
}

header {
  background-image: url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px 2px black;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.bg-weepping {
  background-color: $weepping;
}

.bg-pillow {
  background-color: $pillow;
}

.bg-drifting {
  background-color: $drifting;
}

.bg-jasmine {
  background-color: $jasmine;
}

.bg-welcome {
  background-color: $welcome;
}

.color-jasmine {
  color: $jasmine;
}

a {
  display: inline-block;
  &:link,
  &:visited,
  &:active {
    text-decoration: none;
    color: inherit;
  }
}

.grid-abil {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
  align-items: center;
}

.abil {
  display: inline-block;
  text-align: center;
  img {
    max-width: 100px;
    max-height: 100px;
  }
}

.flex {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  max-width: 25em;
  background-color: $clear;
  overflow: hidden;
  img,
  video {
    width: 100%;
  }
  box-shadow: 1px 1px 4px grey;
  p,
  h3,
  a {
    padding: 1em;
  }
  a {
    float: right;
  }
}

.up-hover {
  transition: all 0.3s;
  &:hover {
    transform: translateY(-0.5em);
  }
}

@for $i from 1 through 5 {
  .p-#{$i} {
    padding: 1em * $i;
  }
}

@for $i from 1 through 5 {
  .mx-#{$i} {
    margin-right: 1em * $i;
  }
}

@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: 1em * $i;
  }
}

@for $i from 1 through 5 {
    .mb-#{$i} {
      margin-bottom: 1em * $i;
    }
  }

.m-auto {
  margin: auto;
}

@for $i from 1 through 5 {
  .w-#{$i*20} {
    width: $i * 20%;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.l-height{
    margin-bottom: -5px;
}

#menu div > a {
  display: none;
  text-align: center;
}

#menu {
  ul {
    margin: 0;
    padding: 1em;
    text-align: right;
    li {
      list-style: none;
      display: inline;
      margin-right: 1em;
      font-size: 1.2em;
    }
    a {
      transition: 0.3s;
    }
    a:hover {
      transform: scale(1.1);
    }
  }
}

.menu-visible {
  max-height: 500px !important;
}

.btn {
  border: 1px solid $jasmine;
  border-radius: 2px;
  background-color: transparent;
  color: $jasmine;
  padding: 2px 10px;
  font-size: 16px;
  cursor: pointer;
}
.board {
  color: $jasmine;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 2em);
  grid-template-rows: repeat(3, 2em);
  justify-content: center;
  div {
    border: 1px solid $jasmine;
    h1 {
      line-height: 0.9em;
    }
  }
}
.fade-in {
  animation: fadeIn 0.3s;
  animation-iteration-count: 1;
}
@keyframes fadeIn {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
.mx-auto {
  width: fit-content;
  margin: auto;
  padding: 1em;
}

@media (max-width: 768px) {
  .container {
    width: 95% !important;
  }
  #menu div > a {
    display: block !important;
    text-align: right;
  }
  #menu {
    ul {
      transition: max-height 0.3s ease-in-out;
      max-height: 0;
      overflow: hidden;
      padding: 0;
      li {
        display: block !important;
        padding: 1em 0 1em 0;
        text-align: center;
      }
    }
  }
}
